<html>
<head>
    <title>Elder Dragon Hipster Calc</title>
</head>
<body>

<form method="post">
    <label for="slug">EDHRec slug</label>
    <input id="slug" name="slug" type="text" />
    <button type="submit">Submit</button>
</form>

<p>{{deck}}</p>

</body>
</html>